{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Import materialize.css-->
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <!--Import Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Hackathon Nubank</title>
    </head>
    <body>
        <nav>

        <div class="nav-wrapper">
            <div class="container">
                {% block page_title %}
                <a href="{% url "website_home" %}"  class="brand-logo"><i class="material-icons">credit_card</i>Co-Card</a>
                {% endblock %}
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url "website_home" %}"><i class="material-icons left">account_circle</i>Minha Conta</a></li>
                    <li><a href="{% url "card_index" %}"><i class="material-icons left">credit_card</i>Meus Cartoes</a></li>
                    <li><a href="{% url "groups_overview" %}"><i class="material-icons left">group_work</i>Grupos</a></li>
                    <li><a href="{% url "logout" %}"><i class="material-icons left">account_circle</i>Log Out</a></li>
                    {% else %} 
                    <li><a href="{% url "login" %}"><i class="material-icons left">account_circle</i>Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        <ul class="side-nav" id="mobile-demo">
            {% if user.is_authenticated %}
            <li><a href="{% url "website_home" %}"><i class="material-icons left">account_circle</i>Minha Conta</a></li>
            <li><a href="{% url "card_index" %}"><i class="material-icons left">credit_card</i>Meus Cartoes</a></li>
            <li><a href="{% url "groups_overview" %}"><i class="material-icons left">group_work</i>Grupos</a></li>
            <li><a href="{% url "logout" %}"><i class="material-icons left">account_circle</i>Log Out</a></li>
            {% else %} 
            <li><a href="{% url "login" %}"><i class="material-icons left">account_circle</i>Log In</a></li>
            {% endif %}
        </ul>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <script  src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script>
            $( document ).ready(function(){
                $(".button-collapse").sideNav();
            })
        </script>

    </body>
</html>
