<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <!--Import materialize.css-->
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <!--Import Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji|Quicksand" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Hackathon Nubank</title>
    </head>
    <body>
        <nav>

        <div class="nav-wrapper">
            <div class="container">
                {% block page_title %}
                <a href="{% url 'website_home' %}"><img class="logo-image" src="{% static 'images/logo.png' %}"></a>
                {% endblock %}
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url "website_home" %}"><i class="material-icons left">account_circle</i>Minha Conta</a></li>
                    <li><a href="{% url "card_index" %}"><i class="material-icons left">credit_card</i>Meus Cartoes</a></li>
                    <li><a href="{% url "groups_overview" %}"><i class="material-icons left">group_work</i>Grupos</a></li>
                    <li><a href="{% url "logout" %}"><i class="material-icons left">account_circle</i>Log Out</a></li>
                    {% else %}
                    <li><a href="{% url "login" %}"><i class="material-icons left">account_circle</i>Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        <ul class="side-nav" id="mobile-demo">
            {% if user.is_authenticated %}
            <li><a href="{% url "website_home" %}"><i class="material-icons left">account_circle</i>Minha Conta</a></li>
            <li><a href="{% url "card_index" %}"><i class="material-icons left">credit_card</i>Meus Cartoes</a></li>
            <li><a href="{% url "groups_overview" %}"><i class="material-icons left">group_work</i>Grupos</a></li>
            <li><a href="{% url "logout" %}"><i class="material-icons left">account_circle</i>Log Out</a></li>
            {% else %}
            <li><a href="{% url "login" %}"><i class="material-icons left">account_circle</i>Log In</a></li>
            {% endif %}
        </ul>

		<div class="row gray-text" style="background-color: white; color: #212121;">
			<div class="col s5" style="padding-left: 50px;">
				<h4 style="font-family: 'Baloo Paaji', cursive; margin-top:160px;">Apresentamos o co-card.</h4><br><br>
				<h5 style="font-family: 'Quicksand', sans-serif; margin-top: 60px;">O encontro da economia, praticidade e segurança. </h5><br><br>
				<div class="row center">
					<a href="http://materializecss.com/getting-started.html" id="download-button" class="left-align btn-large waves-effect waves-light orange">Cadastre-se</a>
				</div>
			</div>
			<div class="col s7"><img style="width: 100%;" src="{% static 'images/home.jpg' %}"></div>
		</div>

		<main class="container">

			<div class="container">
				<div class="section">

					<!--   Icon Section   -->
					<div class="row">
						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center orange-text"><i class="material-icons">share</i></h2>
								<h5 class="center">Praticidade</h5>

								<p class="light">Compartilhe pagamentos e assinaturas sem burocracia. Usando o co-card você tem a complexidade de pagamentos em grupos feitos com a simplicidade de uso de apenas um cartão de crédito</p>
							</div>
						</div>

						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center orange-text"><i class="material-icons">attach_money</i></h2>
								<h5 class="center">Economia</h5>

								<p class="light">Aproveite ao máximo os serviços fornecidos, fazendo valer cada centavo gasto junto com os seus amigos.</p>
							</div>
						</div>

						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center orange-text"><i class="material-icons">lock</i></h2>
								<h5 class="center">Segurança</h5>

								<p class="light">Além de tudo você tem a garantia de que os seus pagamentos estão sendo gerenciados da melhor forma possível, livres dos riscos que outras plataformas oferecem.</p>
							</div>
						</div>
					</div>

				</div>
				<br>
			</div>
        </main>
        <footer class="page-footer green-dark4">
            <div class="footer-copyright">
                <div class="container">
                    Made by Victor, Germano, Joana, Eric, Andre</a>
                </div>
            </div>
        </footer>
        <script  src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script>
            $( document ).ready(function(){
                $(".button-collapse").sideNav();
            })
        </script>
		{% block extrajs %}
		{% endblock %}
    </body>
</html>