{% extends "website/base.html" %}
{% block content %}
	<h4>Meus grupos</h4>
	<div class="row">
        {% for group in groups %}
			<div class="col m6 s12">
				<div class="card teal darken-3">
					<div class="card-content white-text">
                        <span class="card-title">{{ group.get_name }}</span>
						<span class="new badge" data-badge-caption="Ativo"></span>
						<h5 class="white-text">Membros</h5>
						<ul>
							{% for user in group.users %}
								<li><a class="grey-text text-lighten-3" href="#!">{{ user.full_name }}</a></li>
							{% endfor %}
						</ul>
					</div>

					<div class="card-action right-align">
						<a href="{% url 'groups_detailed' group.pk %}">Detalhes</a>
						<a href="#">Sair</a>
					</div>
				</div>
			</div>
        {% endfor %}
        <div class="col s12 m2">
            <a href="{% url 'groups_add' %}" class="waves-effect waves-light btn-large btn-add">
				<i class="large material-icons">add</i>
			</a>
		</div>
	</div>

{% endblock %}
