{% extends "website/base.html" %}
{% block content %}
	{% if invitations %}
		<h4>Meus convites</h4>
	{% endif %}
	<div class="row">
		{% for invitation in invitations %}
			<div class="s12 m4 l3 col">
				<div class="card">
					<div class="card-content orange darken-4">
						<div class="card-title">
							{{ invitation.group.name }}
						</div>
					</div>
					<div class="card-action orange darken-3">
						<a href="{% url 'groups_participate' invitation.group.pk %}">Participar</a>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
	<h4>Meus grupos</h4>
	<div class="row">
        {% for group in groups %}
			<div class="col m6 s12">
				<div class="card teal darken-3">
					<div class="card-content white-text">
						<span class="new badge" data-badge-caption="Ativo"></span>
                        <h3>{{ group.get_name }}</h3>
                        <h5>{{ group.cards.count }}
                            {% if group.cards.count == 1 %} Membro
                            {% else %} Membros 
                            {% endif %}
                        </h5>
					</div>

					<div class="card-action right-align">
						<a href="{% url 'groups_detailed' group.pk %}">Detalhes</a>
						<a href="{% url 'groups_leave' group.pk %}" onclick="return confirm('Tem cerza que deseja sair deste grupo?')">Sair</a>
					</div>
				</div>
			</div>
        {% endfor %}
        <div class="col s12 m2">
            <a href="{% url 'groups_add' %}" class="waves-effect waves-light btn-large btn-add">
				<i class="large material-icons">add</i>
			</a>
		</div>
	</div>

{% endblock %}
