@import '../bower_components/materialize/sass/components/color';

$primary-color: color('green','darken-4');
$secondary-color: color('green','base');
$body-bg: color('grey','darken-4');
$text-color: color('grey', 'lighten-2');
$button-flat-color: color('grey', 'base');