{% extends "website/base.html" %}
{% block content %}
<div class="row">
	<div class="s12 m8 offset-m2 col">
		<form method="post">
			{% csrf_token %}
			<h4>Adicionar cartão</h4>
			{% include 'renders/render_field.html' with field=form.number class='s12' %}
			<div class="row">
				{% include 'renders/render_field.html' with field=form.expiration_date_month class='s4' put_row=False%}
				{% include 'renders/render_field.html' with field=form.expiration_date_year class='s4' put_row=False%}
				{% include 'renders/render_field.html' with field=form.verification_code class='s4' put_row=False%}
			</div>
			{% include 'renders/render_field.html' with field=form.full_name class='s12' %}
			<button type="submit" class="btn right">Salvar</button>
		</form>
	</div>
</div>
{% endblock %}