{% extends "website/base.html" %}
{% block content %}
<h4>Meus cartões</h4>
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="white-text orange darken-1">
                <div class="card-content right-align">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content white-text">
                    <h5>**** **** **** 5678</h5>
                </div>
            </div>
            <div class="card-action white-text right-align orange darken-3">
                <a href="#">Editar</a>
                <a href="#">Remover</a>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 50px; right: 50px;">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
</div>
{% endblock %}